<!DOCTYPE html>
<html>
<head>
    {% include "frontend/head.html" %}
    <title>{{_("Designers")}} | {{_("BetterLife")}}</title>
    <link href="static/css/frontend/src/main.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <link href="static/css/frontend/src/ie.css" rel="stylesheet" type="text/css">
    <![endif]-->

</head>
<body>

{% include "frontend/header.html" %}

    <div class="main">
        <ul class="roundList" id="designerList">
            {% for d in designers %}
            {% if loop.index<=10 %}
            <li class="active">
                <a href="designer/detail/{{d.id}}">
                    <img src="{{d.image_url}}">
                    <div class="infoBg"></div>
                    <div class="info">
                        <h3 class="title ellipsis">{{d.first_name}} {{d.last_name}}</h3>
                        <p class="excerpt ellipsis">{{d.country_name}}</p>
                    </div>
                </a>
            </li>
            {% else %}
            <li class="hidden">
                <a href="designer/detail/{{d.id}}">
                    <img src="{{d.image_url}}">
                    <div class="infoBg"></div>
                    <div class="info">
                        <h3 class="title ellipsis">{{d.first_name}} {{d.last_name}}</h3>
                        <p class="excerpt ellipsis">{{d.country_name}}</p>
                    </div>
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% include "frontend/pagination.html" %}
    </div>

{% include "frontend/footer.html" %}
<script src="static/js/frontend/lib/jquery-1.11.1.min.js"></script>
<script src="static/js/frontend/lib/jquery.jqpagination.min.js"></script>
<script src="static/js/frontend/src/config.js"></script>
<script src="static/js/frontend/src/Functions.js"></script>
<script src="static/js/frontend/src/designers.js"></script>
<script>
    var pageName="designers";
    var maxCount="{{count}}";
    var currentPage="{{page}}";
</script>

</body>
</html>