.reversalList li a:hover .front{
    z-index: 0;
}
.reversalList li a:hover .back{

}
.coverList li .info{
    bottom:100px;
    filter:alpha(opacity=0);
}
.coverList li a:hover .info{
    filter:alpha(opacity=100);
}
.introduce .line{
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src='../../static/images/frontend/app/line.png',sizingMethod='scale');
}
.roundList li{
    visibility: visible;
    top:0px;
}
.roundList li .info{
    display: none;
    bottom:100px;
}
.roundList li a:hover .info{
    display: block;
}
