<div class="col-md-2 menu-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">菜单</h1>
            </div>
        <div class="panel-body">
            <div class="btn-group-vertical">
                <div class="btn-group">
                    <a class="btn btn-default" href="me/admin/material">分类管理</a>
                </div>
                <div class="btn-group">
                    <a href="me/admin/banner" class="btn btn-default">幻灯片管理</a>
                </div>
                <!--<div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        审核<span class="caret"></span>
                        </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="auditDesigner.html">设计师</a></li>
                        <li><a href="auditWorks.html">作品</a></li>
                        </ul>
                </div>-->
                <div class="btn-group">
                    <a class="btn btn-default" href="me/admin/artifact">作品管理</a>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        用户管理<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="me/admin/account/designer">设计师</a></li>
                        <!--<li><a href="companyUserMgr.html">企业用户</a></li>
                        <li><a href="userMgr.html">普通用户</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
